
.header {
  height: 7%;
  background: #312F33;

}

.vh-100 {
  height: 100vh;

}
.dropdown button{
  outline: 0;
  border: none;
  font-weight: 700;
  font-size: 20px;
}
.dropdown button:hover{
  background-color: #181819;
}


.dropdown-item:hover{
  background-color: #181819!important;
  border: 1px solid white;
  border-radius: 5px;
  
}
.menu {
  font-size: 30px;
  color: white;
  cursor: pointer;
  display: none;

}

.chatWindow {
  height: 93%;
  background-color: red;

}

.left-section {
  background-color: #080808;

}

.right-section {
  background: #1B1A1C;

}

.text {
  color: white;
  border-radius: 9px;
  padding: 5px;
  cursor: pointer;

}

.text:hover {
  background-color: rgb(75, 75, 75);
  color: white;
}

.navbar {
  height: 7%;
  padding-left: 200px;
  background-color: #161414;
}

.nav-link {
  margin: 0 40px;
}

.chat {
  height: calc(100% - 50px);
  background-color: #1B1A1C;

  position: relative;
}

.message-content {
  padding: 20px 20px 50px 20px;
}


.inputText {
  position: absolute;
  bottom: 0%;
  left: 0%;
  width: 100%;
  background: #1B1A1C;

  padding: 10px 50px;



}

#msg {
  width: 90%;
  padding: 10px 15px;
  font-size: 18px;
  border-radius: 20px;
  outline: 0;
  border: 0;
  margin-right: 10px;
  color: white;
  /* Set text color to white */
  background-color: #433E3E;

}

.button {
  color: white;
  border-radius: 50%;
  font-size: 30px;
  border: none;
  background-color: #433E3E;
}


.welcomeMessage {
  
  font-size: 45px;
  
  
}
.welcomeDiv{
  color: white;
  text-align: center;
  margin-top: 200px;
 
  
}
.welcomeImage{
  border: 2px solid white;
  border-radius:  50%;
  width: 35px;
}

.message-content {
  overflow-y: auto;
  
  /* Example height, adjust as needed */
}

.message-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.message {
  padding: 8px;
  border-radius: 8px;
  margin-left: 8px;
  /* Add some space between message and image */
}

.right-container {
  justify-content: flex-end;
}

.right-message {
  background-color: #433E3E;
  color: white;
  max-width: 600px;

  /* Light blue background for user message */
}

.left-container {
  justify-content: flex-start;
}

.left-message {
  background-color: #433E3E;
  /* Light gray background for server message */
  color: white;
  max-width: 600px;
}

.image {
  width: 30px;
  /* Adjust image size as needed */
  height: 30px;
  border-radius: 50%;
  /* Make images circular */
  border: 2px solid white;
  
}

.right-image {
  margin-left: 10px;
  /* Add some space between image and message */
}

.left-image {
  margin-right: 10px;
  /* Add some space between image and message */
}

@media only screen and (max-width: 900px) {
  .navbar {
    padding-left: 100px;
  }

  .welcomeMessage {
    font-size: 40px;

  }
}

@media only screen and (max-width: 767px) {
  .left-section {
    display: none;
  }

  .navbar {
    padding-left: 100px;
  }

  .welcomeMessage {

    font-size: 30px;

  }
}

@media only screen and (max-width: 586px) {
  .navbar {
    padding-left: 30px;
  }

  .nav-link {
    margin: 0 20px;
  }

  .welcomeMessage {

    font-size: 20px;

  }
  .inputText {
  
  padding: 7px 20px;
}
}

@media only screen and (max-width: 376px) {
  .navbar {
    padding-left: 20px;
  }

  .nav-link {
    margin: 0 10px;
  }

  .welcomeMessage {

    font-size: 15px;

  }
  .inputText {
  
  padding: 20px 10px;



}
}

@media only screen and (max-width: 326px) {
  .navbar {
    padding-left: 10px;
  }

  .nav-link {
    margin: 0 10px;
  }
  .inputText {
  
  padding: 10px 10px;



}
}

